// margin order: top, right, bottom, left

$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: ( // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px);


html {
    height: 100vh;
}

body {
    height: 100vh;
}

container {
    height: 100vh;
    width: 100vh;
}

h5 {
    margin: 10px 10px 20px 10px;
}

button {
    margin: 10px 10px 50px 10px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

li {
    margin: 5px 5px 5px 0px;
}

.one {
    height: 100vh;
    width: 100vh;
    background-color: darkred !important;
    color: white;
}

.two {
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

h5 {
    margin: 10px 0px 10px 0px;
}

@media only screen and (max-width: 768px) {
    .one {
        height: 60vh;
    }

    .two {
        height: 70vh;
    }
}